{% extends 'myapp/base.html' %}

{% block title %}Страница 1{% endblock %}

{% block content %}
<br>
    <h2>Страница 1</h2><br>
    <p>
Первый проект на Django: Введение в веб-разработку.<br>
<br>
1. Django — это мощный веб-фреймворк на Python, который упрощает создание веб-приложений.<br>
2. В этом проекте мы создадим простое веб-приложение для управления задачами.<br>
3. Для начала установим Django с помощью команды `pip install django`.<br>
4. После установки создадим новый проект с помощью команды `django-admin startproject myproject`.<br>
5. Затем создадим приложение для задач с помощью команды `python manage.py startapp tasks`.<br>
6. В приложении определим модели, которые будут представлять наши задачи и их статусы.<br>
7. Настроим маршрутизацию, чтобы пользователи могли добавлять, редактировать и удалять задачи.<br>
8. Создадим простые шаблоны для отображения задач и форм для ввода данных.<br>
9. Запустим сервер разработки с помощью команды `python manage.py runserver` и откроем приложение в браузере.<br>
10. Поздравляем! Мы создали свое первое веб-приложение на Django и узнали основы веб-разработки.<br>
    </p>
<br>
<br>
<br>
<br>
<br>

{% endblock %}